@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header>
    <section class="wrapper">
        <nav>
            <ul>
                <li><a href="#">@Html.ActionLink("Ver Departamentos", "Index", "Departamento")</a></li>
                <li><a href="#">@Html.ActionLink("Ver mis Reservas", "Details", "Reserva", new { cliente_id = Session["cliente_id"] }, null)</a></li>
            </ul>
        </nav>
    </section>
</header>