
@{
    ViewBag.Title = "Index";
}

<h2>Inicio Arriendo</h2>



@Html.ActionLink("Reservar", "Create", "Reserva")

@Html.ActionLink("Ver reservas", "Index", "Reserva")

<div class="contenido">
    <h1>Departamentos</h1>
</div>