* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/*LOGIN */
/*.usuario-img{
    width: 30%;
    margin: 0 auto;
    display: block;
}
*/


/*login*/

#bodyU {
    margin: 0;
    padding: 0;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
}

.login {
    width: 320px;
    height: 380px;
    background: #CCC9;
    color: #000;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 15px;
}

.login .usuario {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

.login h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.login label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
}

.login input {
    width: 100%;
    margin-bottom: 20px;
}

    .login input[type="text"], .login input[type="password"] {
        border: none;
        border-bottom: 1px solid #fff;
        background: transparent;
        outline: none;
        height: 40px;
        color: #000;
        font-size: 16px;
    }

    .login input[type="submit"] {
        border: none;
        outline: none;
        height: 40px;
        background: #b80f22;
        color: #000;
        font-size: 18px;
        border-radius: 20px;
    }

        .login input[type="submit"]:hover {
            cursor: pointer;
            background: #ffc107;
            color: #000;
        }
/*
.login button {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
}

    .login button:hover {
        color: #fff;
    }*/

#btn-login {
    padding: 5px;
    margin: 0 auto;
    display: block;
    color: black;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 10px;
}

#btn-login:hover{
    background-color: #fff;
}


/*dpto */
.container {
    width: 90%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}


.item {
    background-color: #fff;
    cursor: pointer;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.095);
    transition: all 300ms;
    position: relative;
    width: 250px;
    height: 200px;
}

#img3 {
    background-color: #fff;
    cursor: pointer;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.095);
    transition: all 300ms;
    position: relative;
    width: 1000px;
    height: 1000px;
}

.item::after {
    content: "";
    background-color: rgba(179, 229, 252, .1);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(0);
    transition: all 300ms;
    opacity: 0;
}

.item:hover:after {
    opacity: 1;
    transform: scale(1);
}

.item:hover {
    transform: scale(1.05);
}

.item-text {
    padding: 1em;
}


.item-img {
    max-width: 100%;
    display: block;
}

#navbar {
    display: contents;
}

#navbar-collapse {
    display: contents;
}

footer {
    bottom: 0;
    width: 100%;
    background-color: #CCC9;
    position: fixed;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
}


/* table */


tabla {
    margin: 150px auto;
    width: 600px;
}




table {
    background-color: white;
    text-align: left;
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 20px;
}

thead {
    background-color: #246355;
    border-bottom: solid 5px #0F362D;
    color: white;
}

tr:nth-child(even) {
    background-color: #ddd;
}

tr:hover td {
    background-color: #369681;
    color: white;
}
