@model ArriendoTemporada.Negocio.Cliente
@{
    ViewBag.Title = "Login";
}

@using (Html.BeginForm())
{
    <body id="bodyU">

        <div class="login">
            <img src="~/Src/Img/usuario.png" class="usuario" alt="">
            <h1>Inicie Sesión</h1>
            <form>
                <!-- USERNAME INPUT -->
                @Html.LabelFor(c => c.Rut_Cliente, "Ingrese su rut: ")
                @Html.TextBoxFor(c => c.Rut_Cliente)
                <!-- PASSWORD INPUT -->
                <br />
                @Html.LabelFor(c => c.Passwrd, "Ingrese su contraseña: ")
                @Html.PasswordFor(c => c.Passwrd)
                <button id="btn-login">Ingresar</button>

            </form>
        </div>
    </body>
    <br />


}