@using ArriendoTemporada.Negocio;

@{
    ViewBag.Title = "Reserva_Servicio";
}


<h2>Reserva_Servicio</h2>


<table>
    <tr>
        <th>ID Reserva</th>
        <th>ID Servicio</th>
        <th>Cupos</th>
    </tr>
    <tr>
        <td>@Session["reserva_id"]</td>
        <td>@Session["servicio_id"]</td>
        <td>Cupos</td>
    </tr>
</table>