@using ArriendoTemporada.Negocio;
@{
    ViewBag.Title = "Reserva_Servicio";
}

<h2>Reserva_Servicio</h2>


<table>
    <tr>
        <td>ID Reserva</td>
        <td>ID Servicio</td>
        <td>Cupos</td>
    </tr>
    <tr>
        <th>@Session["reserva_id"]</th>
        <th>@Session["servicio_id"]</th>
        <th>Falta arreglar</th>
    </tr>
</table>


